{{>partials/head}}
{{>partials/header}}

    <main>
        <div class="container">
            <form action="/sendotp" method="POST">
                <h2>Ensira o Código</h2>
                <input id="input_verification_code" name="code" type="string" placeholder="Digite o código">
                <input type="hidden" name="otp_id" value={{otp_id}}>
                <button>Enviar Código</button>
            </form>
        </div>
    </main>

    <div>{{message}}</div>

    <script src="https://unpkg.com/imask"></script>
    <script src="/assets/js/maskOTPInput.js"></script>

{{>partials/footer}}