*{
    box-sizing: border-box;
    margin: 0; padding: 0;
}

html, body{
    height: 100%;
    width: 100%;
}

h1{ 
    font-size: 40px;
    text-align: center;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
    background-color: #489dec;
    color: #fff;
    position: fixed;
    top: 0; left: 0; right: 0;
    padding: 0 30px;
}
header .user, header ul li a{
    color: #fff;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
}
header .user:hover, header ul li a:hover{
    background-color: #ffffff80;
    transition: .5s;
}
header .user{
    font-size: 20px;
    border: 2px solid #fff;
    box-shadow: 1px 1px 2px #0000002f;
}
header ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0; padding: 0;
    border: 1px solid #fff;
    box-shadow: 1px 1px 2px #0000002f;
}
header ul li a{
    border-right: 1px solid #fff;
    display: block;
}
.logout{
    border: 0;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: calc(100% - 100px);
    height: 78px;
    border-top: 1px solid #489dec;
    /* background-color: #489dec; */
    color: #1D3461;
    position: fixed;
    bottom: 0; left: 0; right: 0;
}
footer a{
    color: #1D3461;
}
