header{
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 156px);
}

.container{
    padding: 30px;
    background-color: #489dec;
    box-shadow: 1px 1px 2px #0000002f;
    margin: 30px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
}

button{
    background-color: #1D3461;
    color: #fff;
    border: none; outline: none;
    font-weight: bold;
}

input, button{
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-top: 1px solid #1D3461;
    padding-top: 20px;
    position: relative;
}
.link a{
    color: #fff;
}
.link a:hover{
    text-decoration: none;
}

.g_id_signin{
    border-top: 1px solid #1D3461;
    padding: 0;
    padding-top: 20px; margin-top: 20px;
}

.fb-login-button{
    display: flex;
    justify-content: center;
    border-top: 1px solid #1D3461;
    padding: 0;
    margin-top: 20px;
    padding-top: 20px;
    width: 100%;
}

.message{
    background-color: rgb(223, 129, 129);
    justify-content: space-between;
    display: flex;
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ff0000;
    color: #fff;
}
.message p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 5px;
    cursor: pointer;
}
.message p:hover{
    background-color: #ff0000;
}