<!-- <!DOCTYPE html>
<html lang="pt-BR" style="width: 100%; height: 100%;">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Confirme seu E-mail</title>
</head>
<body style="overflow: hidden; background-color: #489dec; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">    
    <div style="background-color: #ddd; width: fit-content; height: fit-content; max-width: 600px; display: flex; flex-direction: column; justify-content: center; align-items: flex-start; padding: 20px;/*  border: 4px solid #fff;">
        <h1 style="margin: 0; font-size: 40px; color: #489dec;">Clique no botão ou copie o link <br/> <span style="color: #aaa;">para confirmar seu E-mail</span></h1>
        <a href="http://localhost:3000/confirmemail/?confirm=confirm=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1lIjoidGVzdCIsImVtYWlsIjoidGVzdEB0ZXN0LnRlc3QiLCJpYXQiOjE2ODcyMjQzNzF9.V9JIW5aVdelmzbEyaCoq7bZvYhXfJaalMfR37rZYaag" style="background-color: #489dec; margin: 40px 0; padding: 20px; font-size: 20px; color: #fff; text-decoration: none;">Confirmar E-mail &#x1F448</a>
        <div style="width: 100%; overflow-wrap: break-word;">
            <a href="http://localhost:3000/confirmemail/?confirm=confirm=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1lIjoidGVzdCIsImVtYWlsIjoidGVzdEB0ZXN0LnRlc3QiLCJpYXQiOjE2ODcyMjQzNzF9.V9JIW5aVdelmzbEyaCoq7bZvYhXfJaalMfR37rZYaag" style="font-size: 18px; color: #1D3461;">http://localhost:3000/confirmemail/?confirm=confirm=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1lIjoidGVzdCIsImVtYWlsIjoidGVzdEB0ZXN0LnRlc3QiLCJpYXQiOjE2ODcyMjQzNzF9.V9JIW5aVdelmzbEyaCoq7bZvYhXfJaalMfR37rZYaag</a>
        </div>
    </div>
</body>
</html> -->

<html lang="pt-BR" style="width: 100%; height: 100%;">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Confirme seu E-mail</title>
</head>
<body style="background-color: #489dec; width: 100%; height: 100%;">
    <table align="center" style="max-height: 400px; height: 100%; border: 0;">
        <tbody style="height: 100%;">
            <tr style="height: 100%;">
                <td style="background-color: #ddd; max-width: 600px; vertical-align: center; padding: 20px">
                    <h1 style="margin-bottom: 40px; font-size: 40px; color: #489dec;">Clique no botão ou copie o link <br/> <span style="color: #aaa;">para confirmar seu E-mail</span></h1>
                    <a href="http://localhost:3000/confirmemail/?confirm=confirm=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1lIjoidGVzdCIsImVtYWlsIjoidGVzdEB0ZXN0LnRlc3QiLCJpYXQiOjE2ODcyMjQzNzF9.V9JIW5aVdelmzbEyaCoq7bZvYhXfJaalMfR37rZYaag" style="background-color: #489dec; padding: 20px; font-size: 20px; color: #fff; text-decoration: none;">Confirmar E-mail &#x1F448</a>
                    <div style="margin-top: 40px; width: 100%; overflow-wrap: break-word;">
                        <a href="http://localhost:3000/confirmemail/?confirm=confirm=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1lIjoidGVzdCIsImVtYWlsIjoidGVzdEB0ZXN0LnRlc3QiLCJpYXQiOjE2ODcyMjQzNzF9.V9JIW5aVdelmzbEyaCoq7bZvYhXfJaalMfR37rZYaag" style="font-size: 18px; color: #1D3461;">http://localhost:3000/confirmemail/?confirm=confirm=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1lIjoidGVzdCIsImVtYWlsIjoidGVzdEB0ZXN0LnRlc3QiLCJpYXQiOjE2ODcyMjQzNzF9.V9JIW5aVdelmzbEyaCoq7bZvYhXfJaalMfR37rZYaag</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>