<header>
    {{#user}}
        <a href="/" class="user">{{user.name}}</a>
        <nav>
            <ul>
                <li><a href="/config">Config</a></li>
                <li><a href="/logout" class="logout">Logout</a></li>
            </ul>
        </nav>
    {{/user}}
    {{^user}}
        <h1>{{title}}</h1>
    {{/user}}
</header>