{{>partials/head}}
{{>partials/header}}

    <main>
        <div class="container">
            <form action="/login" method="POST">
                {{#message}}
                    <div class="message">{{.}} <p>x</p></div>
                {{/message}}

                <input id="email" type="email" name="email" placeholder="Digite seu E-mail">
                <input id="password" type="password" name="password" placeholder="Digite sua Senha">
                <button>Login</button>
            </form>

            <p class="link">Não tem uma conta? <strong><a href="/register">Criar conta&#x1F60A</a></strong></p>
        </div>
    </main>

    <script src="/assets/js/closeErrorMessage.js"></script>

{{>partials/footer}}