{{>partials/head}}
{{>partials/header}}

    <main>
        <div class="container">
            <form action="/login" method="POST">
                {{#message}}
                    <div class="message">{{.}} <p>x</p></div>
                {{/message}}

                <input id="email" type="email" name="email" placeholder="Digite seu E-mail">
                <input id="password" type="password" name="password" placeholder="Digite sua Senha">
                <input type="hidden" name="sub">
                <button>Login</button>
            </form>

            <p class="link">Não tem uma conta? <strong><a href="/register">Criar conta&#x1F60A</a></strong></p>

            <div id="g_id_onload"
                data-client_id="744854303319-6hcrlannfgvjgo0uj7m9esp6r2omraec.apps.googleusercontent.com"
                data-callback=getGoogleInfo
                data-auto_prompt="false">
            </div>
            <div style="width:100%;" class="g_id_signin"
                data-type="standard"
                data-shape="rectangular"
                data-theme="outline"
                data-text="signin_with."
                data-size="large"
                data-logo_alignment="left">
            </div>
        </div>
    </main>

    <script src="/assets/js/closeErrorMessage.js"></script>
    <script src="https://unpkg.com/jwt-decode/build/jwt-decode.js"></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script>
        async function getGoogleInfo( {credential} ){
            if(credential){
                const { email, email_verified, sub } = jwt_decode(credential);

                if(!email_verified) alert('Error no Sistema');

                document.querySelector('input[name=email]').value = email;
                document.querySelector('input[name=sub]').value = sub;
                document.querySelector('button').click();
            }else{
                alert('Error no Sistema');
            }
        }
    </script>

{{>partials/footer}}