{{>partials/head}}
{{>partials/header}}

    <main style="height: 100%;">
        <div class="container">
            <form action="/register" method="POST">
                {{#message}}
                    <div class="message">{{.}} <p>x</p></div>
                {{/message}}

                <input type="text" name="name" placeholder="Digite seu Nome">
                <input type="email" name="email" placeholder="Digite seu E-mail">
                <input type="password" name="password" placeholder="Digite sua Senha">
                <input type="password" name="password_confirmation" placeholder="Repita a Senha">
                <button>Criar Usuário</button>
            </form>
            <p class="link">Já tem uma conta? <strong><a href="/login">Fazer login&#x1F60A</a></strong></p>
            <div id="g_id_onload"
                data-client_id="744854303319-6hcrlannfgvjgo0uj7m9esp6r2omraec.apps.googleusercontent.com"
                data-callback=getGoogleInfo
                data-auto_prompt="false">
            </div>
            <div style="width:100%;" class="g_id_signin"
                data-type="standard"
                data-shape="rectangular"
                data-theme="outline"
                data-text="signin_with."
                data-size="large"
                data-logo_alignment="left">
            </div>
        </div>
    </main>

    <script src="/assets/js/closeErrorMessage.js"></script>
    <script src="https://unpkg.com/jwt-decode/build/jwt-decode.js"></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script>
        async function getGoogleInfo( {credential} ){
            jwt_decode(credential) 
            console.log();
        }
    </script>

{{>partials/footer}}